@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
